In [1]:
#!pip install selenium
!pip install undetected-chromedriver

Collecting undetected-chromedriver

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

requests 2.24.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.6 which is incompatible.

  Downloading undetected-chromedriver-3.0.3.tar.gz (42 kB)
Collecting selenium==4.0.0b4
  Downloading selenium-4.0.0.b4-py3-none-any.whl (1.1 MB)
Requirement already satisfied: requests in c:\users\jameel\anaconda3\lib\site-packages (from undetected-chromedriver) (2.24.0)
Collecting websockets
  Downloading websockets-10.0-cp38-cp38-win_amd64.whl (96 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting urllib3[secure]~=1.26
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jameel\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jameel\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jameel\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (2020.6.20)
Requirement already satisfied: async-generator>=1.10 in c:\users\jameel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium==4.0.0b4->undetected-chromedriver) (1.10)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\jameel\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (19.1.0)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\jameel\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (3.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jameel\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\jameel\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (2.2.2)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\jameel\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (1.14.3)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Requirement already satisfied: six>=1.5.2 in c:\users\jameel\anaconda3\lib\site-packages (from pyOpenSSL>=0.14; extra == "secure"->urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (1.15.0)
Requirement already satisfied: pycparser in c:\users\jameel\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (2.20)
Building wheels for collected packages: undetected-chromedriver
  Building wheel for undetected-chromedriver (setup.py): started
  Building wheel for undetected-chromedriver (setup.py): finished with status 'done'
  Created wheel for undetected-chromedriver: filename=undetected_chromedriver-3.0.3-py3-none-any.whl size=31459 sha256=8b94a39fe4c0e0310e01dc615b9d417edb31c627a7a0f34ef67b3d828cac9fce
  Stored in directory: c:\users\jameel\appdata\local\pip\cache\wheels\a3\a9\c1\e6ca4d330d675cfc275209b3397bd92d38682b780ed69fa553
Successfully built undetected-chromedriver
Installing collected packages: h11, wsproto, outcome, sniffio, trio, trio-websocket, urllib3, selenium, websockets, undetected-chromedriver
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.25.11
    Uninstalling urllib3-1.25.11:
      Successfully uninstalled urllib3-1.25.11
  Attempting uninstall: selenium
    Found existing installation: selenium 3.141.0
    Uninstalling selenium-3.141.0:
      Successfully uninstalled selenium-3.141.0
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.0.0b4 sniffio-1.2.0 trio-0.19.0 trio-websocket-0.9.2 undetected-chromedriver-3.0.3 urllib3-1.26.6 websockets-10.0 wsproto-1.0.0

In [2]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
#from selenium.common.exceptions import NoSuchElementException

In [3]:
import undetected_chromedriver as uc

C:\Users\jameel\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

# Q1

In [5]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [6]:
url = 'https://www.naukri.com/'
driver.get(url)
time.sleep(2)

In [7]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

search_job.send_keys("Data Analyst")


search_location = driver.find_element_by_id("qsb-location-sugg")

search_location.send_keys("Bangalore")

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:443: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [8]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")

search_btn.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [9]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles = [] #empty list
for i in titles_tags:
    job_titles.append(i.text)
    
job_titles

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['SENIOR DATA ANALYST',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'People Analytics - Data Analyst',
 'Data Analyst SAS+Alteryx',
 'Executive Data Analyst',
 'Senior Data Analyst IN4',
 'Data Analyst - Python/SQL',
 'Analyst & Designer - Software - Data Analysis',
 'Data Analyst',
 'Data Analyst - Vedantu',
 'Data Analyst - I/II',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst']

In [10]:
company_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

comp_name = [] #empty list
for i in company_name:
    comp_name.append(i.text)
    
comp_name

['McAfee Software (India) Pvt. Ltd',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Marvell India Pvt Ltd',
 'Podium Systems',
 'Gokaldas Exports Ltd',
 'Walmart Labs',
 'Affine',
 'HyreFox Consultants Pvt Ltd',
 'Empower Retirement',
 'Vedantu Innovations Private Limited',
 'Philips India Limited',
 'AECOM India Private Limited',
 'IBM India Pvt. Limited']

In [11]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

job_experience = [] #empty list
for i in exp_tags:
    job_experience.append(i.text)
    
job_experience

['6-8 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '0-3 Yrs',
 '8-10 Yrs',
 '3-5 Yrs',
 '5-7 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs']

In [12]:
job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")

job_loc = [] #empty list
for i in job_location:
    job_loc.append(i.text)
    
job_loc

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore']

In [13]:
# Make data frame 
job_details=pd.DataFrame({})
job_details['Job Titles']=job_titles
job_details['Company']=comp_name
job_details['Experience']=job_experience
job_details['Location']=job_loc 
job_details.head(10)

,Job Titles,Company,Experience,Location
0,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
9,People Analytics - Data Analyst,Marvell India Pvt Ltd,3-5 Yrs,Bangalore/Bengaluru

# Q2

In [14]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [15]:
url = 'https://www.naukri.com/'
driver.get(url)

In [16]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_location = driver.find_element_by_id("qsb-location-sugg")
search_location

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:443: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [17]:
search_job.send_keys("Data Scientist")
search_location.send_keys("Bangalore")

In [18]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [19]:
search_btn.click()

In [20]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles = [] #empty list
for i in titles_tags:
    job_titles.append(i.text)
    
job_titles

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist 3',
 'Data scientist',
 'Data Scientist 4',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Hiring For Manager and Sr. Manager | Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist BFSI',
 'Data Analyst/Data Scientist']

In [21]:
company_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

comp_name = [] #empty list
for i in company_name:
    comp_name.append(i.text)
    
comp_name

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'IHS Markit',
 'Western Digital',
 'Bloom Consulting Services, Inc.',
 'Western Digital',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Airbnb',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'Vision Beyond Resources India Private Limited',
 'CRISIL LIMITED',
 'AVE-Promagne',
 'IBM India Pvt. Limited',
 'Skillenable Fintech Private Limited']

In [22]:
job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")

job_loc = [] #empty list
for i in job_location:
    job_loc.append(i.text)
    
job_loc

['Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'United States (USA), Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [23]:
url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_opening_urls = []

for i in url:
    job_opening_urls.append(i.get_attribute("href"))
    
job_opening_urls

['https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-chennai-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-110921000464?src=jobsearchDesk&sid=16314567150518386&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16314567150518386&xp=2&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16314567150518386&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ihs-markit-bangalore-bengaluru-3-to-6-years-100921500999?src=jobsearchDesk&sid=16314567150518386&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-3-western-digital-bangalore-bengaluru-6-to-9-years-100921501898?src=jobsearchDesk&sid=16314567150518386&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bloom-consulting-services-inc-bangalore-bengaluru-united-states-usa-5-to-8-years-100921500172?src=jobsearchDesk&sid=16314567150518386&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-4-western-digital-bangalore-bengaluru-2-to-4-years-100921501899?src=jobsearchDesk&sid=16314567150518386&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16314567150518386&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-6-to-10-years-090921501063?src=jobsearchDesk&sid=16314567150518386&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16314567150518386&xp=10&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16314567150518386&xp=11&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16314567150518386&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16314567150518386&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-in4-walmart-labs-bangalore-bengaluru-7-to-10-years-090921501064?src=jobsearchDesk&sid=16314567150518386&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-4-to-8-years-090921500549?src=jobsearchDesk&sid=16314567150518386&xp=15&px=1',
 'https://www.naukri.com/job-listings-hiring-for-manager-and-sr-manager-data-scientist-vision-beyond-resources-india-private-limited-noida-mumbai-new-delhi-gurgaon-gurugram-bangalore-bengaluru-8-to-13-years-090921005986?src=jobsearchDesk&sid=16314567150518386&xp=16&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16314567150518386&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16314567150518386&xp=18&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-7-to-9-years-280821904112?src=jobsearchDesk&sid=16314567150518386&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-data-scientist-skillenable-fintech-private-limited-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-2-to-5-years-280821002888?src=jobsearchDesk&sid=16314567150518386&xp=20&px=1']

In [24]:
job_description = []

for i in job_opening_urls:
    driver.get(i)
    # extracting job description
    try:
        job_desc = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')

job_description

['Job description\nMinumum 3 years of experience in Data Science/Machine learning\n\nLocation : PAN INDIA\nExp : 3 - 7 Years\n\nMinimum 3 year of experience in being Applied Machine Learning Engineer role\nResearch, develop, and implement prediction, optimization, and analytics tools.\nDocument and communicate methodology and results to technical and non-technical audiences\nGuide and implement best practices of curated data and evaluate ML models on large-scale data\nLead design and implementation of Machine Learning algorithms, combining with rule-based optimization to deliver significant improvement in\nproduct metrics\nWrite production ready high quality, maintainable and scalable code.\nDesign and analyze metrics to verify model and algorithm effectiveness.\nExperience with data analysis languages such as Python or Scala\nExperience with Machine Learning tools (Azure ML, SageMaker, TensorFlow, Kubernetes, etc.)\nExperience with Machine Learning Languages (R, Python, .Net Core, etc.)\n\nRoleProduct Manager\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nKey Skills\nData ScienceMachine LearningPython\nTensorflowAlgorithmsSCALAData AnalysisAnalyticsKubernetes\nSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 'Job description\n  The Automotive Supply Chain and Technology team at IHS Markit is in search of a Data Scientist to support New Product Development and global teams ongoing research and analysis efforts. The research team produces granular forecast dataset and written analyses on the supply chain of parts supplied to automakers with technology, supplier and logistic information. The team generate forecasts on technology trends through multiple research channels and by using many connected and disconnected data sources to drive the forecast.\nThe position covers an array of critical data-centric activities aimed at enhancing the efficiency of our 70+ strong research team, sustaining the increasing data complexity and most importantly supporting new product development at one of IHS Markits fastest growing product lines. The position is based in Gurgaon or Bangalore, India and reports to our Regional Head of operations in India.\nResponsibilities and duties\nUnderstanding business requirements to create maintainable workflows e.g. inbound/input data from analysts and external sources to feed a set of interconnected data sets and calculations\nData wrangling and data mining to support product innovation and model creation\nETL process design, implementation, maintenance and documentation for large inter-connected data sets\nData cleaning and manipulation of raw data\nCreation of logical and physical data models\nUtilize existing database infrastructures as well as building new DB infrastructures as required\nData acquisition exploration\nCreate and maintain detailed documentation of workflows\nHarness machine learning and statistical modelling with a view to enhance automation, reduce manual data interaction from research team and develop new insightful products\nIdentifying, assembling, and enriching a wide range of structured and unstructured data to support new automotive forecasts and analysis.\nCreation of logical and physical data models (including creation of workflows in data science platforms such as KNIME)\nQualifications and skills\n3+ years experience as a data scientist\nAt minimum, a degree in computer science, computer engineering or a related quantitative field with proven work experience in the data engineering/scientist field\nProven experience with SQL and NoSQL databases like Oracle DB, SQL Server, Cassandra, MongoDB, MySQL, Hadoop, Spark, AWS (EC2 and S3)\nProven experience with one or more programming/scripting languages (e.g. Python, C++, R, Matlab, Scala).\nFamiliar with techniques to manage large databases, including partitioning, compression and indexes as well as data mining\nAbility to build models (e.g. Linear regression, logistic, Markov models) and use one or more machine learning library/frameworks (e.g. Scikit-learn) with a view to solve complex high dimensional data\nKnowledge of OLAP and ETL processes\nFamiliarity with data science platforms such as KNIME is a bonus\nKnowledge of API creation and maintenance\nEstablished MS Office skills (including VBA and Access) , O365 desirable\nGood communication skills, collaborative team spirit, curiosity to constantly keep thinking of unique approaches and solutions.\nAbility to work independently.\nExperience committing to deadlines whilst multi-tasking\nRoleHead/VP/GM-Quality\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategorySenior Management\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nSupply chainProcess designComputer scienceC++AutomationMySQLMS OfficeOracleData miningSQL',
 'Job description\n  Engage with Analytics Business Partners (ABP) and customers to understand the problem statement, required data and analytics insights to solve a given business problem.\nPerform ETL, data cleansing and feature engineering to prepare data required for Rapid Learning Cycle (RLC) projects.\nPerform EDA and work with SMEs to establish data understanding and address data quality issues.\nPartner with other data scientists in AAO and Asia factories to build advanced statistical, AI and ML models that are congruent with the problem being solved and optimize for performance.\nWork closely with ML Engineers and Solution Architects in AAO to seamlessly operationalize models developed from RLC to Pilot to Production.\nPresent findings recommendations to project stakeholders.\nBe up to date on latest technological advancements in AI/ML space through self-learning, literature research, relevant conferences etc.\nProvide input to technical direction of AAO Data Science teams.\nProactively network with other data scientists and analytics professionals in WDC India to identify collaboration opportunities.\nPreferred Qualifications:\nBS/MS/PhD in a quantitative discipline (e.g., Computer Science, Data Science, Applied Sciences or Engineering).\nBS 5+ years or MS 4+ years or PhD 1+ year of experience in an analytics function.\nPrior experience in developing advanced analytics solutions to business problems.\nStrong theoretical understanding hands-on experience in statistical data analysis, AI ML techniques (e.g., supervised and unsupervised modeling, Deep Learning, CNN, NLP, Time-series analysis) and common data analytics tools (e.g., Python, R, Tensorflow etc).\nExperience with Database Technologies (SQL, NoSQL), Big Data Technologies (Hadoop, Hive, Spark) and Cloud Technologies (AWS, GCP).\nAbility to work independently and with team members from different backgrounds.\nAbility to present complex data and analytics insights in the most effective ways and communicate a compelling story.\nStrong problem solving and critical thinking skills.\nPositive attitude towards learning on-the-job and strive in a rapidly changing environment.\n\nRoleBio/Pharma Informatics-Associate/Scientist\nIndustry TypeElectronic Components / Semiconductors\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceNlpData ScientistAdvanced AnalyticsOperations ResearchBig DataData AnalyticsSupply ChainDeep LearningPython',
 'Job description\nMentor junior teammates in developing clean, optimized python code.\nDrive project deliverables, architecture design and code design.\nMulti-task on multiple projects from different groups.\nCommunicate project timelines in an agile work environment.\nGather requirements from multiple stakeholders and prioritize.\nCreate Python flows\nWhat You Need for this Position\nYou should have knowledge of:\nPython\nLinear\nSQL / NoSQL\nRegression models\nRoleSoftware Developer\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Sc in Chemistry\nPG :MS/M.Sc(Science) in Chemistry\nKey Skills\nNosqlKey SkillsData ScientistAgilePythonSql',
 'Job description\nThe Data Engineer is responsible for supporting Snaplogic ETL, AWS Redshift, RDS, and Aurora environments, exploring performance improvement opportunities, and troubleshooting data ingestion and user queries issues. This individual will perform typical database administrative tasks such as managing user accounts, monitoring system capacity usage and performance, balancing system workload, identifying root cause of issues raised by users and provide solution proposals, as well as supporting and enhancing data ingestion processes developed by other development teams.\nThis individual will work with business users to identify performance improvement opportunities and implement them in the order based upon urgency and priority. In addition, this individual will identify data integration, ETL and quality issues, investigate issues identified by others, research and implement solutions to correct problems (at the source where possible), collaborate with developers to correct historical data, develop reports and monitoring programs, and execute data integration initiatives.\nJob Responsibilities:\nManage user accounts and security in the Redshift, RDS, and Aurora environments\nMonitor and manage system workloads in order to keep all the systems running smoothly and minimize bottlenecks.\nConfigure system connections between data sources and targets.\nAssist users in debugging query failure issues and data quality problems\nAnalyze objects such as tables and views designed and deployed by the development teams and users, provide best practice solution proposals\nAnalyze queries from users, identify performance improvement opportunities, and assist users to improve performance\nAnalyze and manage disk space usages by users, and provide best practice to development teams and business users\nMaintain, modify and enhance data ingestion processes per development teams request\nDevelop and deploy data load processes per business users request, including tables, views, and data load ETL pipelines design and development\nCreate native connections between Redshift, RDS, and Aurora\nDevelop and maintain metrics programs to monitor system usages and performance\nManage data Redshift archiving processes\nDevelop Redshift Spectrum objects\nSupport Engineering and Manufacturing Datawarehouse and related data systems and initiatives\nSolve moderate to complex data quality/ data integration problems\nRecognize and investigate anomalies and propose solutions\nResearch and recommend innovative, and where possible automated, approaches for data issues\nMonitor ETL pipelines, troubleshoot and address any issues.\nLiaison with business users and Subject matter Experts to find permanent solution to recurring issues.\nWork closely with managed service providers in streamlining production support processes.\nRequired Qualifications:\nBachelor s degree in computer science, Information Systems, (or a related field) or a minimum of seven years of relevant professional experience and training\n7 to 9 years Data Engineer or Support Engineer roles\n3+ year AWS Redshift experience\n2+ year experience in performance tuning and optimization of any SQL databases\n3+ year supporting ETL packaged software like Informatica or SnapLogic\nFamiliarity with concept of and experiences in performance tuning approaches related to MPP databases\nProficient in SQL\nExperiences in data modeling, including logical and physical design, normalization and denormalization\nExpertise in performance tuning in one or more RDBMS such as Postgres, MySQL, Oracle, DB2, MS SQL, etc.\nExperiences in programing tools such as Linux shell scripting, Python, Java, etc.\nExperiences in analysis, Design, Development and Implementation of ETL and exposure to any commercial ETL tools (Snaplogic, Informatica, Alteryx, Matillion) and reporting (Tableau, Spotfire) tools will be an advantage but not mandatory.\nEffectively and efficiently work with an enterprise environment involving very large data sets - millions of records in both databases and flat files\nExperienced in requirements analysis, design, and development in the data Management application areas\nResponsible for working with cross-functional and cross-organizational teams to understand issues, implement solutions, and influence others to implement solutions\nAble to be comfortable in a fast-paced environment with constantly shifting priorities and a mix of quick hit, short, medium and long-term projects of varying priorities\nHigh-tech, or manufacturing industry experience preferred but not required\nExcellent communication, facilitation, and interpersonal relations skills required\nRoleDBA\nIndustry TypeElectronic Components / Semiconductors\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryAdmin/Maintenance/Security/Datawarehousing\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nJavaEtl ToolsShell ScriptingData ManagementData ModelingInformaticaPerformance TuningMs SqlPythonData Integration',
 '-',

In [25]:
job_details=pd.DataFrame({})
job_details['Job Titles']=job_titles
job_details['Company']=comp_name
job_details['Location']=job_loc 
job_details['Job Description']=job_description
job_details.head(10)

,Job Titles,Company,Location,Job Description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Job description\nMinumum 3 years of experience...
1,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,-
2,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nUse predictive modeling to in...
3,Data Scientist,IHS Markit,Bangalore/Bengaluru,Job description\n The Automotive Supply Chain...
4,Data Scientist 3,Western Digital,Bangalore/Bengaluru,Job description\n Engage with Analytics Busin...
5,Data scientist,"Bloom Consulting Services, Inc.","United States (USA), Bangalore/Bengaluru",Job description\nMentor junior teammates in de...
6,Data Scientist 4,Western Digital,Bangalore/Bengaluru,Job description\nThe Data Engineer is responsi...
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,-
8,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,Job description\nAs a Senior Data Scientist fo...
9,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,-

# Q3

In [26]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [27]:
url = 'https://www.naukri.com/'
driver.get(url)

In [28]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:443: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [29]:
search_job.send_keys("Data Scientist")

In [30]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [31]:
search_btn.click()

In [32]:
search_loc = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

search_loc.click()

In [33]:
search_sal = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

search_sal.click()

In [34]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles = [] #empty list
for i in titles_tags:
    job_titles.append(i.text)

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [35]:
company_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

comp_name = [] #empty list
for i in company_name:
    comp_name.append(i.text)

In [36]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

job_experience = [] #empty list
for i in exp_tags:
    job_experience.append(i.text)

In [37]:
job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")

job_loc = [] #empty list
for i in job_location:
    job_loc.append(i.text)

In [38]:
# Make data frame 
job_details=pd.DataFrame({})
job_details['Job Titles']=job_titles
job_details['Company']=comp_name
job_details['Experience']=job_experience
job_details['Location']=job_loc 
job_details.head(10)

,Job Titles,Company,Experience,Location
0,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
2,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Noida, Gurgaon/Gurugram"
3,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
6,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
7,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,Gurgaon/Gurugram
8,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
9,Junior Data Scientists & Engineers,PY Consultancy,0-3 Yrs,"New Delhi, Delhi / NCR"

# Q4

In [39]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [52]:
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [53]:
search_job = driver.find_element_by_xpath("//input[@name='sc.keyword']")
search_job

In [54]:
search_job.send_keys("Data Scientist")

In [55]:
search_loc = driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc

In [56]:
search_loc.send_keys("Noida")

In [57]:
search_btn = driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search_btn

In [58]:
search_btn.click()

In [59]:
Comp_name = driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")

company_name = [] #empty list
for i in Comp_name:
    company_name.append(i.text)
    
company_name

['AlgoScale Technologies Private Limited',
 'Liberin Technologies Private Limited',
 'Grail Insights',
 'Noisy Lion',
 'Lenskart',
 'Salasar New Age Technologies',
 'Grail Insights',
 'IBM',
 'Techlive',
 'Ishatva Management Solutions',
 'Emerging India Group',
 'Newgen Software',
 'Ericsson',
 'Salasar New Age Technologies',
 'NEC Opportunities',
 'SearchUrCollege',
 'Biz2Credit Inc',
 'Crowe',
 'WishFin',
 'limeroad.com',
 '.Kreate',
 'Saishaa Services',
 'xtLytics',
 'ING',
 'CSTEP',
 'Monotype',
 'Badatya Private Limited',
 'Emerging India Analytics',
 'OneAssist Consumer Solutions Private Limited',
 'Airtel India']

In [60]:
No_days = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

no_of_days_ago = [] #empty list
for i in No_days:
    no_of_days_ago.append(i.text)
    
no_of_days_ago

['18d',
 '30d+',
 '4d',
 '3d',
 '5d',
 '30d+',
 '4d',
 '1d',
 '30d+',
 '13d',
 '30d+',
 '30d+',
 '11d',
 '30d+',
 '25d',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '18d',
 '3d',
 '20d',
 '30d+',
 '9d',
 '30d+',
 '3d',
 '15d',
 '30d+',
 '3d',
 '23d']

In [61]:
url = driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")

job_opening_urls = []

for i in url:
    job_opening_urls.append(i.get_attribute("href"))
    
job_opening_urls

['https://www.glassdoor.co.in/partner/jobListing.htm?pos=101&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_8836e133&cb=1631457734432&jobListingId=1007258785216&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-c33fbbcb496aaf48',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=102&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_73511b5d&cb=1631457734432&jobListingId=1007200389479&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-97d4c65035600d81',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=103&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_80e789fb&cb=1631457734431&jobListingId=1007289606692&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-cd81678964ea464c',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=104&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_7badc997&cb=1631457734431&jobListingId=1007290108522&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-5728b4a211ea2e96',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=105&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_e1c5de8a&cb=1631457734433&jobListingId=1007285294048&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-13027c95012596b8',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=106&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_55bb67a1&cb=1631457734433&jobListingId=1006624053994&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-a8cb856cd397a474',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=107&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_324f4e84&cb=1631457734433&jobListingId=1007289606693&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-a8c1cf7bed67fe43',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=108&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_67f35716&cb=1631457734434&jobListingId=1007296242943&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-ffacc24eba7bd52e',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=109&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_4e0d1884&cb=1631457734434&jobListingId=1006461286442&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-a1ea358f023a69b7',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=110&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_1e1dede4&cb=1631457734436&jobListingId=1007267967133&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-b3c352ca79ca6d73',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=111&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_f5a7d801&cb=1631457734435&jobListingId=1007044567503&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-5092deea13fb4f8b',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=112&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_25aab518&cb=1631457734435&jobListingId=1007179647282&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-553f505b050aa33e',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=113&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_87e44982&cb=1631457734436&jobListingId=1007275121225&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-59eb9dcaa5a68f12',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=114&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_11ae7d0c&cb=1631457734437&jobListingId=1006624054035&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-c47c5ae51c2ed2ee',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=115&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_ceea5a20&cb=1631457734437&jobListingId=1007245257958&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-d0893868ee842eed',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=116&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_8d17fd21&cb=1631457734438&jobListingId=1006500025617&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-221d6afa3757039d',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=117&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_d0621c40&cb=1631457734439&jobListingId=1006687249100&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-94036c835379de77',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=118&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_b1f505cb&cb=1631457734438&jobListingId=1007095133299&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-84db922a59ad7885',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=119&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_a848b389&cb=1631457734438&jobListingId=1006867507716&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-83f3ba54497948c9',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=120&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_8c7f5cdf&cb=1631457734440&jobListingId=1007258812550&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-223dcefd7d2a9c1c',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=121&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_c7350ccf&cb=1631457734439&jobListingId=1007290108369&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-6d37c05a5a473e40',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=122&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_05972779&cb=1631457734440&jobListingId=1007254252559&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-4a6ae5c940239506',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=123&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_61c08190&cb=1631457734439&jobListingId=1006729351157&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-1e445c06f2f3d94b',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=124&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_1fad5a7b&cb=1631457734440&jobListingId=1007279789126&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-696539a2bd423b28',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=125&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_07217cd2&cb=1631457734440&jobListingId=1007117935447&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-614dc0248a6019b0',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=126&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_9e8ca6c2&cb=1631457734440&jobListingId=1007292216912&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-9a26187856f229b6',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=127&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_2f4f697c&cb=1631457734441&jobListingId=1007266328290&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-eae3ece86db0d172',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=128&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&ea=1&cs=1_98631902&cb=1631457734441&jobListingId=1007219231719&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-97e5e173cec15330',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=129&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_6888b46f&cb=1631457734440&jobListingId=1007290108300&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-24c9e34f75a94d14',
 'https://www.glassdoor.co.in/partner/jobListing.htm?pos=130&ao=1136043&s=58&guid=0000017bda756e27906eb13f4f04a979&src=GD_JOB_AD&t=SR&vt=w&uido=DCC7AB98FCB25072B81F75F4CB8093F4&cs=1_d3030429&cb=1631457734441&jobListingId=1007248250199&jrtk=2-0-1ffd7arihu4p2801-1ffd7arj0u3ut800-86be4fb99f638f8b']

In [62]:
#rating = driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")

rating = [] #empty list
#for i in rating:
#   comp_rating.append(i.text)
    
#comp_rating

for i in job_opening_urls:
    driver.get(i)
    # extracting rating
    try:
        comp_rating = driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        rating.append(comp_rating.text.replace("\n", ""))
    except:
        rating.append('N/A')

rating

['N/A',
 'N/A',
 '3.5★',
 '3.9★',
 '3.6★',
 'N/A',
 '3.5★',
 '3.9★',
 'N/A',
 'N/A',
 '2.4★',
 '3.3★',
 '4.1★',
 'N/A',
 'N/A',
 'N/A',
 '4.2★',
 '3.8★',
 '3.8★',
 'N/A',
 '4.1★',
 'N/A',
 '3.0★',
 '4.0★',
 '3.2★',
 '3.9★',
 '4.5★',
 'N/A',
 '3.6★',
 '3.8★']

In [63]:
job_details=pd.DataFrame({}) 
job_details['Company']=company_name  
job_details['No of Days Ago']=no_of_days_ago
job_details['Rating']=rating 
job_details.head(10)

                                  Company No of Days Ago Rating
0  AlgoScale Technologies Private Limited            18d    N/A
1    Liberin Technologies Private Limited           30d+    N/A
2                          Grail Insights             4d   3.5★
3                              Noisy Lion             3d   3.9★
4                                Lenskart             5d   3.6★
5            Salasar New Age Technologies           30d+    N/A
6                          Grail Insights             4d   3.5★
7                                     IBM             1d   3.9★
8                                Techlive           30d+    N/A
9            Ishatva Management Solutions            13d    N/A

# Q5

In [64]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [65]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [66]:
search_job = driver.find_element_by_xpath("//input[@id='KeywordSearch']")
search_job

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [67]:
search_loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc

In [68]:
search_job.send_keys("Data Scientist")

In [69]:
search_loc.send_keys("Noida")

In [70]:
search_btn = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
search_btn

In [71]:
search_btn.click()

In [72]:
Comp_name = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

company_name = [] #empty list
for i in Comp_name:
    company_name.append(i.text)
    
company_name

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [73]:
salary_no = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")

no_of_sal = [] #empty list
for i in salary_no:
    no_of_sal.append(i.text)
    
no_of_sal

['22 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [74]:
avg_sal = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")

Avg_salary = [] #empty list
for i in avg_sal:
    Avg_salary.append(i.text)
    
Avg_salary

['₹6,28,021',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹13,55,086',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹61,566',
 '₹10,80,727',
 '₹35,040']

In [77]:
min_max = driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

min_to_max_sal = [] #empty list
for i in min_max:
    min_to_max_sal.append(i.text)
    
min_to_max_sal

['Range: ₹4L - ₹13L',
 'Range: ₹1L - ₹28L',
 'Range: ₹6L - ₹23L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹17L',
 'Range: ₹8L - ₹16L',
 'Range: ₹8L - ₹20L',
 'Range: ₹10L - ₹18L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹16L',
 'Range: ₹4L - ₹13L',
 'Range: ₹2L - ₹19L',
 'Range: ₹4L - ₹21L',
 'Range: ₹6L - ₹17L',
 'Range: ₹10L - ₹21L',
 'Range: ₹8L - ₹21L',
 'Range: ₹10L - ₹30L',
 'Range: ₹25T - ₹1L',
 'Range: ₹9L - ₹15L',
 'Range: ₹12T - ₹64T']

In [76]:
Rating = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

comp_rating = [] #empty list
for i in Rating:
    comp_rating.append(i.text)
    
comp_rating

['3.9',
 '3.9',
 '4.1',
 '3.8',
 '4',
 '3.7',
 '3.7',
 '3.9',
 '4.2',
 '3.6',
 '3.8',
 '4',
 '4',
 '3.8',
 '3.3',
 '4.1',
 '3.8',
 '4.1',
 '4.1',
 '3.8']

In [78]:
job_details=pd.DataFrame({}) 
job_details['Company']=company_name  
job_details['No of Salary']=no_of_sal
job_details['Average Salary']=Avg_salary
job_details['Min and Max Salary range']=min_to_max_sal
job_details['Rating']=comp_rating
job_details.head(10)

,Company,No of Salary,Average Salary,Min and Max Salary range,Rating
0,Tata Consultancy Services,22 salaries,"₹6,28,021",Range: ₹4L - ₹13L,3.9
1,IBM,20 salaries,"₹9,08,246",Range: ₹1L - ₹28L,3.9
2,Accenture,15 salaries,"₹11,93,390",Range: ₹6L - ₹23L,4.1
3,Delhivery,15 salaries,"₹12,49,716",Range: ₹5L - ₹1Cr,3.8
4,Ericsson-Worldwide,14 salaries,"₹7,58,335",Range: ₹4L - ₹17L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000",Range: ₹8L - ₹16L,3.7
6,Optum,10 salaries,"₹13,55,086",Range: ₹8L - ₹20L,3.7
7,Optum Global Solutions,10 salaries,"₹14,55,430",Range: ₹10L - ₹18L,3.9
8,Valiance Solutions,10 salaries,"₹8,86,064",Range: ₹5L - ₹15L,4.2
9,EXL Service,9 salaries,"₹11,10,000",Range: ₹6L - ₹16L,3.6

# Q6

In [79]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [80]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [81]:
search_product = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_product

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [82]:
search_product.send_keys("sunglasses")

In [85]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn

In [86]:
search_btn.click()

In [87]:
brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prod_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

brand = [] #empty list
product = [] #empty list
price = [] #empty list
discount = [] #empty list

for i in brand_name:
    brand.append(i.text)

for i in Product_desc:
    product.append(i.text)

for i in prod_price:
    price.append(i.text)

for i in disc_perc:
    discount.append(i.text)
    

next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']")  #Next page button
next_btn.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [88]:
brand_name1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc1 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prod_price1 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc1 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in brand_name1:
    brand.append(i.text)
    
for i in Product_desc1:
    product.append(i.text)

for i in prod_price1:
    price.append(i.text)

for i in disc_perc1:
    discount.append(i.text)
    
next_btn1 = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]") #Next page button
next_btn1.click()

In [89]:
brand_name2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prod_price2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in brand_name2[:20]:
    brand.append(i.text)
    
for i in Product_desc2[:20]:
    product.append(i.text)

for i in prod_price2[:20]:
    price.append(i.text)

for i in disc_perc2[:20]:
    discount.append(i.text)

In [90]:
sunglasses=pd.DataFrame({}) 
sunglasses['Brand Name']=brand  
sunglasses['Description']=pd.Series(product)
sunglasses['Price']=price
sunglasses['Discount Percent']=discount
sunglasses

,Brand Name,Description,Price,Discount Percent
0,NuVew,UV Protection Aviator Sunglasses (57),₹258,72% off
1,NuVew,"UV Protection, Night Vision, Riding Glasses, P...",₹375,77% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹403,67% off
96,GANSTA,"Night Vision, Riding Glasses, UV Protection Wr...",₹221,77% off
97,PETER JONES,"UV Protection, Others Round Sunglasses (48)",₹549,63% off
98,Rich Club,"UV Protection, Gradient Over-sized Sunglasses ...",₹299,62% off
99,AISLIN,NaN,"₹1,025",75% off

# Q7

In [91]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [92]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [93]:
All_reviews = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
All_reviews

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [94]:
All_reviews.click()

In [95]:
#first 10 reveiws for one page

product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


rating = [] #empty list
review_summary  = [] #empty list
full_review = [] #empty list


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[11]")  #Next page button
next_btn.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [96]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [97]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [98]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [99]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [100]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [101]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [102]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [103]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [104]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating:
    rating.append(i.text)

for i in short_reveiw:
    review_summary.append(i.text)

for i in reveiw_full:
    full_review.append(i.text)
    
next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [105]:
product_rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
short_reveiw = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
reveiw_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


for i in product_rating[:2]:
    rating.append(i.text)

for i in short_reveiw[:2]:
    review_summary.append(i.text)

for i in reveiw_full[:2]:
    full_review.append(i.text)

In [106]:
Iphone11=pd.DataFrame({}) 
Iphone11['Rating']=rating  
Iphone11['Reveiw Summary']=pd.Series(review_summary)
Iphone11['Full Review']=pd.Series(full_review)
Iphone11

,Rating,Reveiw Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,3,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

# Q8

In [107]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [108]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [109]:
search_product = driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_product

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [110]:
search_product.send_keys("sneakers")

In [111]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn

In [112]:
search_btn.click()

In [113]:
brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prod_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

brand = [] #empty list
product = [] #empty list
price = [] #empty list
discount = [] #empty list

for i in brand_name:
    brand.append(i.text)

for i in Product_desc:
    product.append(i.text)

for i in prod_price:
    price.append(i.text)

for i in disc_perc:
    discount.append(i.text)
    

next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[11]")  #Next page button
next_btn.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [114]:
brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa'] ")
prod_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")


for i in brand_name:
    brand.append(i.text)

for i in Product_desc:
    product.append(i.text)

for i in prod_price:
    price.append(i.text)

for i in disc_perc:
    discount.append(i.text)
    

next_btn = driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[12]")  #Next page button
next_btn.click()

In [115]:
brand_name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prod_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_perc = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")


for i in brand_name[:20]:
    brand.append(i.text)

for i in Product_desc[:20]:
    product.append(i.text)

for i in prod_price[:20]:
    price.append(i.text)

for i in disc_perc[:20]:
    discount.append(i.text)

In [116]:
sneakers=pd.DataFrame({}) 
sneakers['Brand Name']=brand
sneakers['Description']=pd.Series(product)
sneakers['Price']=price
sneakers['Discount Percent']=discount
sneakers

,Brand Name,Description,Price,Discount Percent
0,HOC,Luxury Fashionable Breathable Casual Sneakers ...,₹449,77% off
1,HOC,Luxury Fashionable Breathable Casual Sneakers ...,₹388,80% off
2,Magnolia,Sneakers For Men,₹356,64% off
3,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹599,66% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
...,...,...,...,...
95,Stinson,NaN,₹494,67% off
96,tigonis,NaN,₹399,77% off
97,D-SNEAKERZ,NaN,₹346,65% off
98,Edoeviv,NaN,₹499,37% off
99,VORII,NaN,₹379,62% off

# Q9 - not completed

In [138]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [139]:
#get the URL
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [150]:
price_filter = driver.find_elements_by_xpath("//lable[@class='common-customCheckbox vertical-filters-label']//input")

for i in color_filter:
    if i.text == 'Rs. 6935 to Rs. 13621':
        i.click()
        break

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [151]:
color_filter = driver.find_elements_by_xpath("//label[@class='common-customCheckbox']//span")

for i in color_filter:
    if i.text == 'Black':
        i.click()
        break

In [152]:
brand_name = driver.find_elements_by_xpath("//h3[@class='product-brand']")
Product_desc = driver.find_elements_by_xpath("//h4[@class='product-product']")
prod_price = driver.find_elements_by_xpath("//div[@class='product-price']//span[1] or ")

brand = [] #empty list
product = [] #empty list
price = [] #empty list

for i in brand_name:
    brand.append(i.text)

brand

['Puma',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'ROSSO BRUNELLO',
 'Hush Puppies',
 'Puma',
 'Nike',
 'Puma',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Tommy Hilfiger',
 'Calvin Klein',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'J.FONTINI',
 'UNDER ARMOUR',
 'ASICS',
 'Hush Puppies',
 'PUMA Motorsport',
 'Quechua By Decathlon',
 'Puma',
 'Bugatti',
 'ASICS',
 'PUMA Hoops',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'PUMA Motorsport',
 'Puma',
 'PUMA Motorsport',
 'J.FONTINI',
 'ROSSO BRUNELLO',
 'Saint G',
 'Geox',
 'Geox',
 'ASICS',
 'J.FONTINI']

In [153]:
for i in Product_desc:
    product.append(i.text)
    
product

['Men BlackTraining or Gym Shoes',
 'Men Cell Fraction Fade Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Mesh Hybrid Fuego Running',
 'Men FUSE Training Shoes',
 'Women Deviate Nitro Running',
 'Men Velocity Nitro Running',
 'Women HOVR Sonic 4 Running',
 'Men HOVR Infinite Running',
 'Men Football Shoes',
 'Men Leather Formal Loafers',
 'Men Leather Slip-On Sneakers',
 'Men Black Shoes',
 "Men BlazerLow '77 Sneakers",
 'Women Eternity Nitro Running',
 'Men Striped Leather Sneakers',
 'Women HOVR Sonic 4 FnRn',
 'Men Formal Derbys',
 'Men HOVR Sonic STRT Tech Shoes',
 'Men Leather Sneakers',
 'Men Loafers',
 'TREKKING 100 Boots',
 'Women Charged Vantage ClrShft',
 'Unisex FerrariRS-Fast Sneakers',
 'Men Solid Loafers',
 'Women Charged Assert 8 Running',
 'Women GlideRide Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Trekking Shoes',
 'Men Liberate NITRO Running',
 'Men Running Shoes',
 'Women Running Shoes',
 'Unisex Clyde Basketball Shoes',
 'Men Lightweight Sneakers',
 'Unisex RS-Z Running Shoes',
 'Women Provoke XT FTR Shoes',
 'Women Charged Bandit 6 Running',
 'Unisex Leather Trainers',
 'Scuderia Ferrari A3ROCAT Shoes',
 'Unisex Colourblocked Sneakers',
 'Mercedes F1 Drift Cat Shoes',
 'Men Black Leather Loafers',
 'Men Solid Leather Formal Monk Shoes',
 'Leather Block Sandals',
 'Men Printed Slip-On Sneakers',
 'Men Solid Sneakers',
 'Women GlideRide Running Shoes',
 'Men Solid Leather Formal Derbys']

In [154]:
for i in prod_price:
    price.append(i.text)
    
price

['Rs. 6999',
 'Rs. 6999',
 'Rs. 8099Rs. 8999',
 'Rs. 8099',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8999Rs. 14999',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7149Rs. 10999',
 'Rs. 7149',
 'Rs. 11999',
 'Rs. 12749Rs. 16999',
 'Rs. 12749',
 'Rs. 12999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7195',
 'Rs. 7149Rs. 12999',
 'Rs. 7149',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7649Rs. 8999',
 'Rs. 7649',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 6999',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 8999Rs. 9999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 12999',
 'Rs. 10355Rs. 10900',
 'Rs. 10355',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 6990']

In [155]:
sneakers=pd.DataFrame({}) 
sneakers['Brand Name']=brand
sneakers['Description']=pd.Series(product)
sneakers['Price']=pd.Series(price)
sneakers

,Brand Name,Description,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999
3,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099
4,Puma,Mesh Hybrid Fuego Running,Rs. 8999Rs. 9999
5,Puma,Men FUSE Training Shoes,Rs. 8999
6,Puma,Women Deviate Nitro Running,Rs. 6999
7,Puma,Men Velocity Nitro Running,Rs. 7999
8,UNDER ARMOUR,Women HOVR Sonic 4 Running,Rs. 8999Rs. 14999
9,UNDER ARMOUR,Men HOVR Infinite Running,Rs. 8999
10,Puma,Men Football Shoes,Rs. 10999
11,ROSSO BRUNELLO,Men Leather Formal Loafers,Rs. 7149Rs. 10999
12,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 7149
13,Puma,Men Black Shoes,Rs. 11999
14,Nike,Men BlazerLow '77 Sneakers,Rs. 12749Rs. 16999
15,Puma,Women Eternity Nitro Running,Rs. 12749
16,Tommy Hilfiger,Men Striped Leather Sneakers,Rs. 12999
17,UNDER ARMOUR,Women HOVR Sonic 4 FnRn,Rs. 6999Rs. 9999
18,Hush Puppies,Men Formal Derbys,Rs. 6999
19,UNDER ARMOUR,Men HOVR Sonic STRT Tech Shoes,Rs. 6999
20,Tommy Hilfiger,Men Leather Sneakers,Rs. 7195
21,Calvin Klein,Men Loafers,Rs. 7149Rs. 12999
22,FORCLAZ By Decathlon,TREKKING 100 Boots,Rs. 7149
23,UNDER ARMOUR,Women Charged Vantage ClrShft,Rs. 7599
24,PUMA Motorsport,Unisex FerrariRS-Fast Sneakers,Rs. 10999
25,J.FONTINI,Men Solid Loafers,Rs. 8999Rs. 9999
26,UNDER ARMOUR,Women Charged Assert 8 Running,Rs. 8999
27,ASICS,Women GlideRide Running Shoes,Rs. 9999
28,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 6999
29,PUMA Motorsport,Unisex Ferrari Drift8 Sneakers,Rs. 7649Rs. 8999
30,Quechua By Decathlon,Men Trekking Shoes,Rs. 7649
31,Puma,Men Liberate NITRO Running,Rs. 6999
32,Bugatti,Men Running Shoes,Rs. 7999
33,ASICS,Women Running Shoes,Rs. 9999
34,PUMA Hoops,Unisex Clyde Basketball Shoes,Rs. 8990
35,Tommy Hilfiger,Men Lightweight Sneakers,Rs. 6999
36,Puma,Unisex RS-Z Running Shoes,Rs. 11199Rs. 13999
37,Puma,Women Provoke XT FTR Shoes,Rs. 11199
38,UNDER ARMOUR,Women Charged Bandit 6 Running,Rs. 8999Rs. 9999
39,Puma,Unisex Leather Trainers,Rs. 8999
40,PUMA Motorsport,Scuderia Ferrari A3ROCAT Shoes,Rs. 7999
41,Puma,Unisex Colourblocked Sneakers,Rs. 9999
42,PUMA Motorsport,Mercedes F1 Drift Cat Shoes,Rs. 9999
43,J.FONTINI,Men Black Leather Loafers,Rs. 9999
44,ROSSO BRUNELLO,Men Solid Leather Formal Monk Shoes,Rs. 8999
45,Saint G,Leather Block Sandals,Rs. 8999
46,Geox,Men Printed Slip-On Sneakers,Rs. 6999
47,Geox,Men Solid Sneakers,Rs. 9999
48,ASICS,Women GlideRide Running Shoes,Rs. 7499
49,J.FONTINI,Men Solid Leather Formal Derbys,Rs. 8999

# Q10

In [123]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [124]:
url = 'https://www.amazon.in/'
driver.get(url)

In [125]:
search_tag = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search_tag

In [126]:
search_tag.send_keys("Laptop")

In [127]:
search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn

In [128]:
search_btn.click()

In [129]:
filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']//span")

for i in filter_button:
    if i.text == 'Intel Core i7':
        i.click()
        break

In [130]:
filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']//span")

for i in filter_button:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [131]:
title_details = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
Product_rating = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
prod_price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

title = []
ratings = []
price = []

for i in title_details:
    title.append(i.text)

In [132]:
for i in Product_rating:
    ratings.append(i.text)

In [133]:
for i in prod_price:
    price.append(i.text)

In [134]:
laptop=pd.DataFrame({}) 
laptop['Brand Name']=title
laptop['Rating']=pd.Series(ratings)
laptop['Price']=pd.Series(price)
laptop.head(10)

                                          Brand Name Rating     Price
0  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...           95,990
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...         1,23,350
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...           57,990
3  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....           77,990
4  HP Pavilion Gaming 11th Gen Intel Core i7 15.6...           89,990
5  ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD ...         1,09,990
6  Lenovo Yoga 7 11th Gen Intel Core i7 14" Full ...           97,989
7  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           84,990
8  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           97,600
9  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...           73,990