In [1]:
# importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
import undetected_chromedriver as uc

C:\Users\jameel\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

# Q1

In [5]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [10]:
rank = []
name = []
artist = []
upload_date = []
views = []

Rank= driver.find_elements_by_xpath(" //table[@class='wikitable sortable jquery-tablesorter'][1]//tr//td[1]")
Name = driver.find_elements_by_xpath(" //table[@class='wikitable sortable jquery-tablesorter'][1]//tr//td[2]")
Artist = driver.find_elements_by_xpath(" //table[@class='wikitable sortable jquery-tablesorter'][1]//tr//td[3]")
Date = driver.find_elements_by_xpath(" //table[@class='wikitable sortable jquery-tablesorter'][1]//tr//td[5]")
Views = driver.find_elements_by_xpath(" //table[@class='wikitable sortable jquery-tablesorter'][1]//tr//td[4]")


for i in Rank:
    rank.append(i.text)
    
for i in Name:
    name.append(i.text)

for i in Artist:
    artist.append(i.text)

for i in Date:
    upload_date.append(i.text)
    
for i in Views:
    views.append(i.text)

In [11]:
most_viewed=pd.DataFrame({}) 
most_viewed['Rank']=rank  
most_viewed['Name']=name
most_viewed['Artist']=artist
most_viewed['Upload Date']=upload_date
most_viewed['Views']=views
most_viewed

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.44
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.57
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.77
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.48
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.28
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.55
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.32
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.22
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.21
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.63
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.56
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.47
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.44
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.41
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.34
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.29
18,19.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.15
19,20.,"""Faded""[46]",Alan Walker,"December 3, 2015",3.15
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.14
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.10
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.10
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.10
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.09
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.03
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.97
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.96
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.89

# Q2

In [12]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [13]:
url = 'https://www.bcci.tv/'
driver.get(url)
time.sleep(2)

In [14]:
int_search=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']//li[@class='navigation__item  '][1]")
int_search.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [15]:
fixture=driver.find_element_by_xpath("//div[@class='navigation__menu-wrapper']//li[@class='navigation__item  '][1]//div[@class='drop-down__options']//li[1]//a[@class='navigation__link navigation__link--in-drop-down'][1]")
fixture.click()

In [20]:
match_title = []
series = []
place = []
date = []
time = []

Title = driver.find_elements_by_xpath("//div[@class='event-list__list']//div[@class='fixture__info u-skewed']//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
Series = driver.find_elements_by_xpath("//div[@class='event-list__list']//div[@class='fixture__info u-skewed']//span[@class='u-unskewed-text fixture__format']")
Place = driver.find_elements_by_xpath("//div[@class='event-list__list']//div[@class='fixture__info u-skewed']//p[@class='fixture__additional-info']//span")
Date = driver.find_elements_by_xpath("//div[@class='event-list__list']//div[@class='fixture__datetime desktop-only']//div[@class='fixture__full-date']")
Time = driver.find_elements_by_xpath("//div[@class='event-list__list']//div[@class='fixture__datetime desktop-only']//div[@class='fixture__full-date']//span[@class='fixture__time']")


for i in Title:
    match_title.append(i.text)
    
for i in Series:
    series.append(i.text)

for i in Place:
    place.append(i.text.replace("\n", " "))

for i in Date:
    date.append(i.text.replace("\n", " "))
    
for i in Time:
    time.append(i.text)

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [21]:
bcci_fixture=pd.DataFrame({}) 
bcci_fixture['Match Title']=match_title  
bcci_fixture['Series']=series
bcci_fixture['Place']=place
bcci_fixture['Date']=date
bcci_fixture['Time']=time
bcci_fixture

,Match Title,Series,Place,Date,Time
0,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",24 OCTOBER 19:30 IST,19:30 IST
1,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",31 OCTOBER 19:30 IST,19:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,T20I,"Zayed Cricket Stadium, Abu Dhabi",03 NOVEMBER 19:30 IST,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",05 NOVEMBER 19:30 IST,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,T20I,"Dubai International Stadium, Dubai",08 NOVEMBER 19:30 IST,19:30 IST
5,INDIA V NEW ZEALAND 2021,T20I,"Sawai Mansingh Stadium, Jaipur",17 NOVEMBER 19:00 IST,19:00 IST
6,INDIA V NEW ZEALAND 2021,T20I,"JSCA International Stadium Complex, Ranchi",19 NOVEMBER 19:00 IST,19:00 IST
7,INDIA V NEW ZEALAND 2021,T20I,"Eden Gardens, Kolkata",21 NOVEMBER 19:00 IST,19:00 IST
8,INDIA V NEW ZEALAND 2021,TEST,"Green Park, Kanpur",25 NOVEMBER 09:30 IST,09:30 IST
9,INDIA V NEW ZEALAND 2021,TEST,"Wankhede Stadium, Mumbai",03 DECEMBER 09:30 IST,09:30 IST
10,SOUTH AFRICA V INDIA 2021/2022,TEST,"New Wanderers Stadium, Johannesburg",17 DECEMBER 13:30 IST,13:30 IST
11,SOUTH AFRICA V INDIA 2021/2022,TEST,"Supersport Park, Centurion",26 DECEMBER 13:30 IST,13:30 IST
12,SOUTH AFRICA V INDIA 2021/2022,TEST,"New Wanderers Stadium, Johannesburg",03 JANUARY 13:30 IST,13:30 IST
13,SOUTH AFRICA V INDIA 2021/2022,ODI,"Boland Park, Paarl",11 JANUARY 14:00 IST,14:00 IST
14,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",14 JANUARY 14:00 IST,14:00 IST
15,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",16 JANUARY 14:00 IST,14:00 IST
16,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",19 JANUARY 19:30 IST,19:30 IST
17,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",21 JANUARY 19:30 IST,19:30 IST
18,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",23 JANUARY 19:30 IST,19:30 IST
19,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",26 JANUARY 19:30 IST,19:30 IST

# Q3

In [7]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [8]:
url = 'https://www.guru99.com/'
driver.get(url)

In [9]:
selenium_search = driver.find_element_by_xpath("//div[@class='featured-box cloumnsize1']//ul[@class='menu1'][1]//li[@style='width:100%;'][3]")
selenium_search.click()

In [10]:
exception_search = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
exception_search.click()

In [11]:
name = []
description = []


Name = driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")
Description = driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")

for i in Name:
    name.append(i.text)
    
for i in Description:
    description.append(i.text)

In [12]:
selenium=pd.DataFrame({}) 
selenium['Exception Name']=name  
selenium['Description']=description
selenium

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q4

In [21]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [22]:
url = 'https://statisticstimes.com/'
driver.get(url)
time.sleep(2)

In [23]:
economy_search = driver.find_element_by_xpath("//div[@class='navbar']//div[@class='dropdown'][2]//button[@class='dropbtn']")
economy_search.click()

In [24]:
economy_ind = driver.find_element_by_xpath("//div[@class='navbar']//div[@class='dropdown'][2]//div[@class='dropdown-content']//a[3]")
economy_ind.click()

In [25]:
state_gdp=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]")
state_gdp.click()

In [27]:
rank = []
state = []
gsdp_19_20 = []
gsdp_18_19 = []
share_18_19 = []
gdp = []

Rank = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='data1']")
State = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='name']")
GSDP_19_20 = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='data'][1]")
GSDP_18_19 = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='data sorting_1']")
Share_18_19 = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='data'][2]")
GDP = driver.find_elements_by_xpath("//table[@id='table_id']//tbody[1]//tr[@role='row']//td[@class='data'][3]")

for i in Rank:
    rank.append(i.text.replace("\n", " "))
    
for i in State:
    state.append(i.text.replace("\n", " "))

for i in GSDP_19_20:
    gsdp_19_20.append(i.text.replace("\n", " "))

for i in GSDP_18_19:
    gsdp_18_19.append(i.text.replace("\n", " "))
    
for i in Share_18_19:
    share_18_19.append(i.text.replace("\n", " "))
    
for i in GDP:
    gdp.append(i.text.replace("\n", " "))

In [28]:
ind_state_gdp=pd.DataFrame({}) 
ind_state_gdp['Rank']=rank  
ind_state_gdp['State']=state
ind_state_gdp['GSDP 19-20']=gsdp_19_20
ind_state_gdp['GSDP 18-19']=gsdp_18_19
ind_state_gdp['Share 18-19']=share_18_19
ind_state_gdp['GDP $ Billion']=gdp
ind_state_gdp

,Rank,State,GSDP 19-20,GSDP 18-19,Share 18-19,GDP $ Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5

In [41]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [42]:
url = 'https://github.com/'
driver.get(url)
time.sleep(2)

In [43]:
explore_search = driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']//li[@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center '][2]//summary")
explore_search.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [44]:
trending = driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']//li[@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center '][2]//div//ul[2]//li[3]//a")
trending.click()

In [45]:
url = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")

repo_urls = []

for i in url:
    repo_urls.append(i.get_attribute("href"))

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [46]:
title = []
description = []
contributors_count = []
language = []

for i in repo_urls:
    driver.get(i)
    
    try:
        Repository_title= driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center wb-break-word f3 text-normal']")
        title.append(Repository_title.text.replace("\n", ""))
        
        Repository_description = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']//p[@class='f4 mt-3']")
        description.append(Repository_description.text)
        
        Contributors_count = driver.find_element_by_xpath("//div[@class='flex-shrink-0 col-12 col-md-3']//div[@class='BorderGrid BorderGrid--spacious']//div[@class='BorderGrid-row'][4]//span[@class='Counter']")
        contributors_count.append(Contributors_count.text)
        
        Language_used = driver.find_element_by_xpath("//span[@class='color-text-primary text-bold mr-1']")
        language.append(Language_used.text)
        
        
    except:
        title.append('-')
        description.append('-')
        contributors_count.append('-')
        language.append('-')

In [47]:
trending_repository=pd.DataFrame({}) 
trending_repository['Repository title']=title  
trending_repository['Repository description']=pd.Series(description)
trending_repository['Contributors count']=pd.Series(contributors_count)
trending_repository['Language used']=pd.Series(language)
trending_repository

,Repository title,Repository description,Contributors count,Language used
0,peng-zhihui/Dummy-RobotPublic,我的超迷你机械臂机器人项目。,-,-
1,-,-,4,Python
2,xinntao/Real-ESRGANPublic,Real-ESRGAN aims at developing Practical Algor...,-,-
3,ckosmic/sm64ex-iosPublic,iOS port of https://github.com/sm64pc/sm64ex/,-,-
4,-,-,-,-
5,ethereum/ethereum-org-websitePublic,Ethereum.org is a primary online resource for ...,-,-
6,-,-,-,-
7,WebDevSimplified/useful-custom-react-hooksPublic,-,-,-
8,-,Set up a personal VPN in the cloud,6,-
9,trailofbits/algoPublic,-,-,-
10,-,🚀 Free resources you may use to promote your n...,-,-
11,trekhleb/promote-your-next-startupPublic,-,-,-
12,-,A curated list of awesome actions to use on Gi...,-,-
13,sdras/awesome-actionsPublic,-,-,C
14,-,我终于能用谷歌搜中文了……,791,-
15,cobaltdisco/Google-Chinese-Results-BlocklistPu...,-,-,Solidity
16,-,Smart NFC & ink-Display Card,368,-
17,peng-zhihui/L-ink_CardPublic,-,-,-
18,-,Collection of publicly available IPTV channels...,-,Go
19,iptv-org/iptvPublic,-,21,JavaScript
20,-,稚晖的个人站,8,Go
21,peng-zhihui/peng-zhihui.github.ioPublic,-,136,-
22,-,This project aims to bring back a productive w...,-,Java
23,valinet/ExplorerPatcherPublic,-,160,Go
24,-,This repository is a mirror of https://git.ope...,"1,736",TypeScript
25,openwrt/openwrtPublic,go-zero is a web and rpc framework written in ...,8,NaN
26,zeromicro/go-zeroPublic,-,NaN,NaN
27,-,The Ethereum Improvement Proposal repository,NaN,NaN
28,ethereum/EIPsPublic,Bitcoin Core integration/staging tree,NaN,NaN
29,bitcoin/bitcoinPublic,-,NaN,NaN
30,-,The open-source repo for docs.github.com,NaN,NaN
31,github/docsPublic,-,NaN,NaN
32,-,"GoPlus - The Go+ language for engineering, STE...",NaN,NaN
33,goplus/gopPublic,"Source code for Eat The Blocks, a screencast f...",NaN,NaN
34,jklepatch/eattheblocksPublic,"Implementation of the Filecoin protocol, writt...",NaN,NaN
35,filecoin-project/lotusPublic,A refreshingly simple data-driven game engine ...,NaN,NaN
36,bevyengine/bevyPublic,-,NaN,NaN
37,-,Ghidra is a software reverse engineering (SRE)...,NaN,NaN
38,NationalSecurityAgency/ghidraPublic,The Go programming language,NaN,NaN
39,golang/goPublic,An online whiteboard,NaN,NaN
40,raimohanska/ourboardPublic,NaN,NaN,NaN

# Q6

In [2]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [3]:
url = 'https://www.billboard.com/charts/hot-100'
driver.get(url)
time.sleep(2)

#chart_search = driver.find_element_by_xpath("//div[@class='mobile-menu bg--dark hide--lg']//div[@class='header__main-menu__wrapper flex--grow']//a[@class='header__main-link header__main-link--charts']")
#chart_search.click()

#hot_100 = driver.find_element_by_xpath("//div[@class='mobile-menu bg--dark hide--lg']//div[@class='header__main-menu__wrapper flex--grow']//span[@class='header__submenu mode--dark header__submenu--charts']//span[@class='header__submenu__wrapper flex--full flex-cols-lg--3 flex__child-gutter'][1]//li[1]//a")
#hot_100.click()

In [4]:
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_board = []

Song = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
Name = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
Last_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
Peak_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
Week_on_board = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

for i in Song:
    song_name.append(i.text.replace("\n", " "))
    
for i in Name:
    artist_name.append(i.text.replace("\n", " "))

for i in Last_rank:
    last_week_rank.append(i.text.replace("\n", " "))

for i in Peak_rank:
    peak_rank.append(i.text.replace("\n", " "))
    
for i in Week_on_board:
    weeks_on_board.append(i.text.replace("\n", " "))

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [5]:
billboard_100=pd.DataFrame({}) 
billboard_100['Song name']=song_name  
billboard_100['Artist name']=artist_name
billboard_100['Last week rank']=last_week_rank
billboard_100['Peak rank']=peak_rank
billboard_100['Weeks on board']=weeks_on_board
billboard_100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,2,1,13
1,Industry Baby,Lil Nas X & Jack Harlow,3,2,11
2,Fancy Like,Walker Hayes,5,3,16
3,Way 2 Sexy,Drake Featuring Future & Young Thug,4,1,5
4,Bad Habits,Ed Sheeran,6,2,15
...,...,...,...,...,...
95,Esta Danada,Ivan Cornejo,-,96,1
96,Whiskey And Rain,Michael Ray,-,97,1
97,TSU,Drake,84,9,5
98,Love All,Drake Featuring JAY-Z,87,10,5
99,No Where,YoungBoy Never Broke Again,40,40,2

# Q7

In [52]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [58]:
url = 'https://www.naukri.com/data-science-recruiters'
driver.get(url)
time.sleep(2)

recruiter_search =  driver.find_element_by_xpath("//ul[@class='midSec menu']//li[2]//div[@class='mTxt']")
recruiter_search.click()

#all_recruiter =  driver.find_element_by_xpath("//li[@class='mActive']//a[@title='Browse All Recruiters']")
#all_recruiter.click()

search_key = driver.find_element_by_xpath("//div[@class='inpWrap']//input[@class='sugInp']")
search_key.send_keys("Data Science")

search_btn = driver.find_element_by_xpath("//div//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [59]:
name = []
designation = []
company = []
skills = []
location = []

Name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
Designation = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
Company = driver.find_elements_by_xpath("//p[@class='highlightable']//a[@class='ellipsis'][2]")
Skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
Location = driver.find_elements_by_xpath("//small[@class='ellipsis']")

for i in Name:
    name.append(i.text.replace("\n", " "))
    
for i in Designation:
    designation.append(i.text.replace("\n", " "))

for i in Company:
    company.append(i.text.replace("\n", " "))

for i in Skills:
    skills.append(i.text.replace("\n", " "))
    
for i in Location:
    try:
        location.append(i.text.replace("\n", " "))
    except:
        location.append('-')

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [61]:
recruiter=pd.DataFrame({}) 
recruiter['Name']=name  
recruiter['Designation']=designation
recruiter['Company']=company
recruiter['Skills']=skills
recruiter['Location']=pd.Series(location)
recruiter

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",NaN
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",NaN

# Q8

In [62]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [63]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(2)

In [64]:
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

Book_name = driver.find_elements_by_xpath("//tbody//tr//td[2]")
Author_name = driver.find_elements_by_xpath("//tbody//tr//td[3]")
Volumes_sold = driver.find_elements_by_xpath("//tbody//tr//td[4]")
Publisher = driver.find_elements_by_xpath("//tbody//tr//td[5]")
Genre = driver.find_elements_by_xpath("//tbody//tr//td[6]")

for i in Book_name:
    book_name.append(i.text.replace("\n", " "))
    
for i in Author_name:
    author_name.append(i.text.replace("\n", " "))

for i in Volumes_sold:
    volumes_sold.append(i.text.replace("\n", " "))

for i in Publisher:
    publisher.append(i.text.replace("\n", " "))
    
for i in Genre:
    genre.append(i.text.replace("\n", " "))

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [65]:
best_books=pd.DataFrame({}) 
best_books['Book Name']=book_name  
best_books['Author Name']=author_name
best_books['Volumes Sold']=volumes_sold
best_books['Publisher']=publisher
best_books['Genre']=genre
best_books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9

In [66]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [67]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(2)

In [68]:
name = []
year_span = []
genre = []
run_time = []
ratings = []
votes = []

Name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
Year_span = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
Genre = driver.find_elements_by_xpath("//span[@class='genre']")
Run_time = driver.find_elements_by_xpath("//span[@class='runtime']")
Ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[@class='ipl-rating-star__rating']")
Votes = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[@class='text-muted text-small'][3]/span[2]")

for i in Name:
    name.append(i.text.replace("\n", " "))
    
for i in Year_span:
    year_span.append(i.text.replace("\n", " "))

for i in Genre:
    genre.append(i.text.replace("\n", " "))

for i in Run_time:
    run_time.append(i.text.replace("\n", " "))
    
for i in Ratings:
    ratings.append(i.text.replace("\n", " "))  
    
for i in Votes:
    votes.append(i.text.replace("\n", " "))

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [69]:
most_watched_tv=pd.DataFrame({}) 
most_watched_tv['Name']=name  
most_watched_tv['Year Span']=year_span
most_watched_tv['Genre']=genre
most_watched_tv['Run Time']=run_time
most_watched_tv['Ratings']=ratings
most_watched_tv['Votes']=votes
most_watched_tv

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,712"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,964"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"905,139"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,079"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,439"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,931"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,797"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,521"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,946"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,379"

# Q10

In [70]:
# connect to webdriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)

In [71]:
url = 'https://archive.ics.uci.edu/ml/index.php'
driver.get(url)
time.sleep(2)

In [72]:
all_dataset_search =  driver.find_element_by_xpath("//span[@class='whitetext']/a/font")
all_dataset_search.click()

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [73]:
dataset = []
data_type = []
data_type_list = []
task = []
attribute_type = []
no_of_instances = []
no_of_attribute = []
year = []

Dataset = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[2]//tr//tr//td[2]//p")
Data_type = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[2]//p")
Task = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[3]//p")
Attribute_type = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[4]//p")
No_of_instances = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[5]//p")
No_of_attribute = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[6]//p")
Year = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr//td[@valign='top'][2]/table[@cellpadding='5']//tbody//tr//td[7]//p")

for i in Dataset:
    dataset.append(i.text.replace("\n", " "))
    
for i in Data_type:
    data_type.append(i.text.replace("\n", " "))
    
for i in range(0,len(data_type),2):
    data_type_list.append(data_type[i])

for i in Task:
    task.append(i.text.replace("\n", " "))

for i in Attribute_type:
    attribute_type.append(i.text.replace("\n", " "))
    
for i in No_of_instances:
    no_of_instances.append(i.text.replace("\n", " "))  
    
for i in No_of_attribute:
    no_of_attribute.append(i.text.replace("\n", " "))
    
for i in Year:
    year.append(i.text.replace("\n", " "))
    
data_type_list.pop(0)
task.pop(0)
attribute_type.pop(0)
no_of_instances.pop(0)
no_of_attribute.pop(0)
year.pop(0)

C:\Users\jameel\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

'Year'

In [74]:
Dataset_details=pd.DataFrame({}) 
Dataset_details['Name']=dataset  
Dataset_details['Data Type']=data_type_list
Dataset_details['Task']=task
Dataset_details['Attribute Type']=attribute_type
Dataset_details['No of Instances']=no_of_instances
Dataset_details['No of Attribute']=no_of_attribute
Dataset_details['Year']=year
Dataset_details

,Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021